
<style>
/*the menu, content layout mainly come from https://www.quora.com/How-do-I-add-navigation-on-one-side-and-content-on-the-other
*/
.container { 
    display: flex; 
    height: 100vh; /* Full height of the viewport */ 
}  
.navigation { 
    background-color: #333; 
    color: white; 
    width: 200px; /* Fixed width for the navigation */ 
    padding: 15px; 
} 
.content { 
    flex: 1; /* Take remaining space */ 
    padding: 20px; 
    background-color: #f4f4f4; 
} 
.navigation ul { 
    list-style-type: none; /* Remove bullet points */ 
    padding: 0; 
} 
 
.navigation ul li { 
    margin: 10px 0; 
} 
 
.navigation a { 
    color: white; 
    text-decoration: none; 
} 
 
.navigation a:hover { 
    text-decoration: underline; 
} 
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">

   
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>{{ title }} app is running!</span>



  </div>
  <div class="container"> 
    <nav class="navigation">    
        <ul>
          <li><a [routerLink] = "'/contacts'">Contacts</a></li>
          <li><a [routerLink] = "'/templateDrivenFormEx1'">Template Driven Form Parent Child Form NgModel Example</a></li>
          <li><a [routerLink] = "'/templateExample'">ng-template, *ngTemplateOutlet</a></li>
        </ul>
    </nav>
    
    <main class="content" role="main">    
      <router-outlet></router-outlet>
      <br/><br/>
    </main>
  </div>
  